<h1>Create a new post</h1>
<hr>
<br>
<%= form_with model: @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <br>
    <%= f.label :likes %>
    <%= f.number_field :likes %>
    <br>
    <%= f.label :blogger_id %>
    <%= f.collection_select( :blogger_id, Blogger.all, :id, :name) %>
    <br>
    <%= f.label :destination_id %>
    <%= f.collection_select(:destination_id, Destination.all, :id, :name) %>
    <br>
    <%= f.submit "Create Post" %>
<% end%>